In [3]:
import pandas as pd

In [39]:
df1 = pd.read_csv('data/1.csv')

#cols = [c for c in df1.columns if c[:7] == "Unnamed"]
#cols.append()

df1 = df1.drop([0,1], axis=0)
cols = [c for c in df1.columns if c[:7] == "Unnamed"]
df1 = df1.drop(columns=cols)
df1.head(2)

,Food Code,Food Name,Description,Group,Water (g),Total nitrogen (g),Protein (g),Fat (g),Carbohydrate (g),Energy (kcal) (kcal),...,Fructose (g),Sucrose (g),Maltose (g),Lactose (g),Alcohol (g),NSP (g),AOAC fibre (g),Satd FA /100g FA (g),Satd FA /100g fd (g),Cholesterol (mg)
2,13-147,"Agar, dried, soaked and drained",Literature sources,DG,84.2,0.03,0.2,0.1,Tr,2,...,0,0,0,0,NaN,15,NaN,NaN,Tr,0
3,13-148,"Alfalfa sprouts, raw",Analytical and literature sources,DG,93.4,0.64,4,0.7,0.4,24,...,0.2,Tr,0,0,NaN,1.7,NaN,NaN,N,0

In [40]:
df2 = pd.read_csv('data/2.csv')
cols = [c for c in df2.columns if c[:7] == "Unnamed"]
df2 = df2.drop(columns=cols)
df2.head(10)

,,Food Name,Group,Sodium (mg),Potassium (mg),Calcium (mg),Magnesium (mg),Phosphorus (mg),Iron (mg),Copper (mg),Zinc (mg),Chloride (mg),Manganese (mg),Selenium (µg),Iodine (µg)
0,13-145,"Ackee, canned, drained",DG,240,270,35,40,47,0.7,0.27,0.6,340,N,N,Tr
1,13-146,"Agar, dried",DG,110,110,760,620,50,20.6,N,14.4,N,4.3,N,N
2,13-147,"Agar, dried, soaked and drained",DG,10,20,110,75,8,3.5,N,2.5,N,0.4,N,N
3,13-148,"Alfalfa sprouts, raw",DG,6,79,32,27,70,1,0.16,0.9,N,0.2,N,N
4,13-801,"Allspice, ground",H,77,1040,660,130,110,7.1,0.55,1,N,1.7,N,N
5,14-870,"Almonds, flaked and ground",GA,14,780,240,270,550,3,1,3.2,18,1.7,2,2
6,14-897,"Almonds, toasted",GA,3,713,268,279,471,3.73,1.1,3.3,18,2.23,2,2
7,14-898,"Almonds, weighed with shells",GA,Tr,271,100,100,178,1.37,0.38,1.2,7,0.81,2,1
8,14-896,"Almonds, whole kernels",GA,1,733,269,270,481,3.71,1.03,3.1,18,2.18,4,2
9,13-150,"Amaranth leaves, boiled in unsalted water",DG,11,540,220,110,54,2.4,0.11,0.5,12,0.9,N,N

In [41]:
df3 = pd.read_csv('data/3.csv')
cols = [c for c in df3.columns if c[:7] == "Unnamed"]
df3 = df3.drop(columns=cols)
df3.head(2)

,Food Code,Food Name,Group,Vitamin D (µg),Vitamin E (mg),Vitamin K1 (µg),Thiamin (mg),Riboflavin (mg),Niacin (mg),Tryptophan/60 (mg),Niacin equivalent (mg),Vitamin B6 (mg),Vitamin B12 (µg),Folate (µg),Pantothenate (mg),Biotin (µg),Vitamin C (mg)
0,13-145,"Ackee, canned, drained",DG,0,N,NaN,0.03,0.07,0.6,0.5,1.1,0.06,0,41,N,N,30
1,13-146,"Agar, dried",DG,0,Tr,NaN,0.01,0.22,0.2,N,N,Tr,0,0,Tr,Tr,0

In [44]:
df = df1.merge(df2)
df.head(2)

,Food Code,Food Name,Description,Group,Water (g),Total nitrogen (g),Protein (g),Fat (g),Carbohydrate (g),Energy (kcal) (kcal),...,Calcium (mg),Magnesium (mg),Phosphorus (mg),Iron (mg),Copper (mg),Zinc (mg),Chloride (mg),Manganese (mg),Selenium (µg),Iodine (µg)
0,13-147,"Agar, dried, soaked and drained",Literature sources,DG,84.2,0.03,0.2,0.1,Tr,2,...,110,75,8,3.5,N,2.5,N,0.4,N,N
1,13-148,"Alfalfa sprouts, raw",Analytical and literature sources,DG,93.4,0.64,4,0.7,0.4,24,...,32,27,70,1,0.16,0.9,N,0.2,N,N

In [45]:
df = df.merge(df3)
df.head()

,Food Code,Food Name,Description,Group,Water (g),Total nitrogen (g),Protein (g),Fat (g),Carbohydrate (g),Energy (kcal) (kcal),...,Riboflavin (mg),Niacin (mg),Tryptophan/60 (mg),Niacin equivalent (mg),Vitamin B6 (mg),Vitamin B12 (µg),Folate (µg),Pantothenate (mg),Biotin (µg),Vitamin C (mg)
0,13-147,"Agar, dried, soaked and drained",Literature sources,DG,84.2,0.03,0.2,0.1,Tr,2,...,0.04,0.1,N,N,Tr,0,0,Tr,Tr,0
1,13-148,"Alfalfa sprouts, raw",Analytical and literature sources,DG,93.4,0.64,4,0.7,0.4,24,...,0.06,0.5,0.6,1.1,0.03,0,36,0.56,N,2
2,13-801,"Allspice, ground",Literature sources,H,8.5,0.98,6.1,8.7,N,N,...,0.06,2.9,N,N,N,0,0,N,N,0
3,14-870,"Almonds, flaked and ground",10 samples,GA,4.2,4.07,21.1,55.8,6.9,612,...,0.75,3.1,3.4,6.5,0.15,0,48,0.44,64,0
4,14-897,"Almonds, toasted",Literature sources,GA,2.4,4.05,21,52.5,5.9,579,...,1.2,3.6,3.5,7.1,0.14,0,55,0.32,49,0

In [46]:
df.to_csv('data/data.csv', index=None)