In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import numpy as np
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [2]:
dataset = pd.read_csv('data.csv')
dataset.head()

,Food Name,Water (g),Protein (g),Fat (g),Carbohydrate (g),Energy (kcal) (kcal),Starch (g),Total sugars (g),Glucose (g),Cholesterol (mg),Calcium (mg),Iron (mg)
0,"Agar, dried, soaked and drained",84.2,0.2,0.1,Tr,2,0,Tr,0,0,110,3.5
1,"Alfalfa sprouts, raw",93.4,4,0.7,0.4,24,Tr,0.3,0.1,0,32,1
2,"Allspice, ground",8.5,6.1,8.7,N,N,N,N,N,0,660,7.1
3,"Almonds, flaked and ground",4.2,21.1,55.8,6.9,612,2.7,4.2,Tr,0,240,3
4,"Almonds, toasted",2.4,21,52.5,5.9,579,0.8,5.1,Tr,0,268,3.73

In [3]:
dataset = dataset.fillna(0)
dataset.describe()

,Food Name,Water (g),Protein (g),Fat (g),Carbohydrate (g),Energy (kcal) (kcal),Starch (g),Total sugars (g),Glucose (g),Cholesterol (mg),Calcium (mg),Iron (mg)
count,2910,2910,2910,2910,2910,2910,2910,2910,2910,2910,2910,2910
unique,2906,855,357,419,654,540,480,408,151,605,334,436
top,"Red snapper, flesh only, fried in blended oil,...",Tr,0.5,0.1,0,N,0,0,0,0,7,0.4
freq,4,24,55,131,649,32,1079,668,867,1119,96,111

In [ ]:
dataset.to_csv('tt.csv')

In [ ]:
cols = dataset.columns.drop('Food Name')

In [ ]:
dataset[cols] = dataset[cols].apply(pd.to_numeric, errors='coerce', downcast='integer')

In [ ]:
dataset = dataset.fillna(0)
dataset.describe()

In [ ]:
X = dataset.drop('Food Name',1)
X.head(5)

In [ ]:
sns.pairplot(X);

In [ ]:
X.describe()

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(X)
X_pca = pca.transform(X)
print("original shape:   ", X.shape)
print("transformed shape:", X_pca.shape)

In [ ]:
#sns.pairplot(X_pca);

In [ ]:
Y = dataset["Food Name"]

In [ ]:
#X = X/X.mean()
#normalizer = preprocessing.Normalizer().fit(X)  
#X = normalizer.transform(X)
#print(X)

#scaler = StandardScaler()
#scaler.fit_transform(X)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-3,3))
X = scaler.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.10, random_state=42)

In [ ]:

data = [[10, 20, 0.1, 1.0,3.0, 0.0, 0.2, 0.0, 1.0, 50.0, 1.5]]
#data = data /np.mean(data)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=500, metric='cosine')
neigh.fit(X_train, Y_train)

In [ ]:
Y_pred = neigh.predict(X_test)

# compare actual response values (y_test) with predicted response values (y_pred)
print(metrics.accuracy_score(Y_test, Y_pred))

In [ ]:
print(data)
print(neigh.kneighbors(data))

print(Y.iloc[1362])
print(Y.iloc[63])
print(Y.iloc[590])
print(Y.iloc[61])
print(Y.iloc[273])

In [ ]:
filename = 'knn.pickle'
pickle.dump(neigh, open(filename, 'wb'))

In [ ]:
#Test the saved pickle with same data
loaded_model = pickle.load(open(filename, 'rb'))
#print(data)

tt  = loaded_model.kneighbors(data)[1][0][:10]
print(tt)
#print(Y.iloc[1874])
#print(Y.iloc[262])
#print(Y.iloc[252])
#print(Y.iloc[220])

dataset.iloc[tt]